*{
    padding: 0%;
    margin: 0%;
}

:root{
    --corPrimaria: rgb(125, 89, 194) ;
    --corSecundaria: rgb(112, 48, 172);
    --branco: rgb(132, 88, 173);
}

header,footer{
    width: 100%;
    background-color: var(--branco);
    padding:  20px 0px;
    display: flex;
    justify-content: space-around;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    gap: 10px;
}

#logo{
    display: flex;
    gap: 20px;
}
#logo img{
    width: 30px;
}
#catalogo{
    width: 90%;
    margin: 10px auto;
    padding: 20px;
    background-color: var(--branco);
    display:flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.livro{
    width: 200px;
    padding: 5px;
    background-color: var(--corPrimaria);
    color: rgb(64, 26, 100);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    text-align: center;
}
.livro img{
    width: 80%;
}

button{
    display: flex;
    padding: 5px;
    border-radius: 4px;
}