*{
margin: 0%;
padding: 0%;
}


body{

    background-color: rgb(156, 137, 209);
}

#cabecalho, #rodape {
    width: 100%;
    height: 80px;
    background-color: rgb(117, 63, 119);
    text-align: center;
    color:rgb(158, 98, 158);
    line-height: 80px;
}
#conteudo{
    width: 80%;
background-color: rgb(152, 114, 187);
border-radius: 10px;
text-align: center;
box-shadow: 10px 10px 10px black;
/*1 valor - todos os lados */
/* 2 valores - eixo y(cima,baixo), eixo x (direita,esquerda)*/
/* 4 valores - cima,direita,baixo,esquerda*/
padding: 10px;
margin: 20px auto;
}
img{
 width: 80%
}
#donuts{
    padding: 10px;
    margin: 20px auto;
}