*{
    margin: 0%;
    padding: 0%;
  
  }
  header, footer{
      width: 100%;
  padding: 20px 0px ;
  background-color: rgb(190, 190, 190);
  color:rgb(179, 79, 79);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  head h2{
      /* float flutuar para um lado*/
      float:left;
      margin-left: 20px;
  }
  nav{
      float: right;
      margin-right: 20px;
  }
  
  nav a{
      color: rgb(202, 34, 34);
      /* text-decoration decoração de texto*/
      text-decoration: solid;
  }
  #banner{
      width: 80%;
  height: 300px;
  background-image:url(../images/pasi2.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  margin: 20px auto;
  
  